
<!--
<button mat-button [matMenuTriggerFor]="BasicsMenu">Basics</button>
<mat-menu #BasicsMenu="matMenu">
  <button mat-menu-item routerLink="example">example of Observable and Subjects</button>
  <button mat-menu-item routerLink="ajaxing">evolution with ajax</button>
</mat-menu>
-->
<br>
<button mat-raised-button color="accent" routerLink="example">example of Observable and Subjects</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="accent" routerLink="ajaxing">evolution with ajax</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="accent" routerLink="comm">2 Comps with Service Communication</button>
<br>
<br>



<router-outlet></router-outlet>