/* You can add global styles to this file, and also import other style files */

body { height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif;  padding-right: 460px;}
body,.as-body { 
    margin: auto; 
    width: 70%;
    text-align: center;
}

.flex{display: flex; justify-content: space-around;}
