/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; 
    width: 70%;
    text-align: center;
    padding-right: 460px;
}
